body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
}

.app {
  padding: 30px;
  color: white;
}

h1 {
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  min-width: 180px;
}

.device-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.device-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.online {
  color: #22c55e;
  font-weight: bold;
}

.offline {
  color: #ef4444;
  font-weight: bold;
}
.search {
  width: 350px;
  padding: 12px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.popup-content {
  background: #1e293b;
  color: white;
  width: 400px;
  margin: 150px auto;
  padding: 30px;
  border-radius: 12px;
}
.logs {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}
.topology {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.chart-box {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}